.dotted-top-border{
  border-top: 1px dotted #d9d9d9;
}

.u-equal-height  {
  min-height: 100%;
}

.p-card__content {
  padding-top: 1rem;
}

.p-content__footer{
  margin-top: auto;
  text-transform: capitalize;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.p-card {
  flex-direction: column;
}

// Import the framework
@import '../node_modules/vanilla-framework';
// Include all of Vanilla Framework
@include vanilla;

